* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure body fills the viewport height */
    margin: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.logo img {
    max-width: 100px;
    margin-bottom: 20px; /* Spazio tra il logo e il menu */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra il menu */
    gap: 15px; /* Spazio tra gli elementi del menu */
    flex-wrap: wrap; /* Permette al menu di andare su più righe se necessario */
}

nav ul li {
    flex: 1 1 auto; /* Permette ai link di ridimensionarsi in modo fluido */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px; /* Aggiunge spazio interno ai link */
    transition: background-color 0.3s, color 0.3s; /* Transizione per l'effetto hover */
}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

main {
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Spazio aggiuntivo sotto l'header */
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    align-self: center;
    color: #000000; /* Sostituisci con il colore sociale */
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.relazione {
    flex-grow: 1; /* Take up available space */
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.goal {
    align-self: center;
    position: relative;
    margin-top: auto; /* Push the goal to the bottom */
    margin-bottom: 15px; /* Aggiungi spazio sotto l'immagine della porta */
    width: 100%; /* Assicurati che l'elemento goal sia largo quanto il contenitore principale */
    max-width: 730px; /* Limita la larghezza massima della porta */
}

.goal img {
    width: 100%;
    height: auto; /* Mantiene le proporzioni dell'immagine */
}

.balls-container {
    position: absolute; /* Position relative to the goal image */
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

.ball-link {
    position: absolute; /* Position balls relative to the container */
}

.ball {
    position: absolute; /* Position balls relative to the container */
    display: inline-block;
    width: 30px;  /* Dynamic size relative to viewport width */
    height: 30px; /* Dynamic size relative to viewport width */
}

.ball img {
    width: 100%;  /* Ensure ball image fits the container */
    height: auto; /* Maintain aspect ratio */
}

.ball-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 22px;  /* Dynamic font size relative to viewport width */
    font-weight: bold;
    pointer-events: none;  /* So that the number does not interfere with clicks */
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .logo img {
        max-width: 80px; /* Riduce la dimensione del logo sui dispositivi più piccoli */
    }

    nav ul {
        gap: 10px; /* Riduce lo spazio tra gli elementi del menu */
    }

    nav ul li a {
        padding: 8px 15px; /* Riduce il padding dei link del menu */
        font-size: 14px; /* Riduce la dimensione del testo dei link del menu */
    }

    main {
        padding: 10px; /* Riduce il padding principale */
    }

    .goal {
        margin-bottom: 30px; /* Aumenta lo spazio sotto l'immagine della porta */
    }
    .relazione{
        margin-bottom: 40px;
    }
    .ball {
        width: 24px;  /* Adjust ball size for smaller screens */
        height: 24px; /* Adjust ball size for smaller screens */
    }

    .ball-number {
        font-size: 17.6px; /* Adjust number size for smaller screens */
    }
    .balls-container {
        position: absolute; /* Position relative to the goal image */
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column; /* Dispone il menu in colonna sui dispositivi molto piccoli */
        align-items: center; /* Centra gli elementi del menu */
    }

    nav ul li {
        width: 100%; /* Fai sì che ogni elemento del menu prenda l'intera larghezza */
        text-align: center; /* Centra il testo dei link del menu */
    }

    nav ul li a {
        padding: 10px; /* Aumenta il padding dei link del menu per dispositivi molto piccoli */
        font-size: 16px; /* Aumenta la dimensione del testo dei link del menu */
    }

    main {
        margin-top: 10px; /* Riduce il margine sopra il main */
    }

    footer {
        padding: 15px 0; /* Aumenta il padding del footer per dispositivi molto piccoli */
    }

    .ball {
        width: 18px;  /* Further adjust ball size for very small screens */
        height: 18px; /* Further adjust ball size for very small screens */
    }

    .ball-number {
        font-size: 13px; /* Further adjust number size for very small screens */
    }
    .balls-container {
        position: absolute; /* Position relative to the goal image */
        top: 0;
        left: 0;
        width: 90%;
        height: 84%;
    }
    .goal {
        margin-bottom: 40px; /* Aumenta lo spazio sotto l'immagine della porta */
    }
    
    .relazione{
        margin-bottom: 40px;
    }
}
