<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campobasso FC</title>
    <!-- Usa url_for per puntare ai file statici -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.webp') }}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/campobasso.png') }}" alt="Logo Campobasso">
        </div>
        <nav>
            <ul>
                <li><a href="/static/index.html">Torna alla Home</a></li>
                <li><a href="{{ url_for('static', filename='login/login.html') }}?redirect=../campionato/campionato.html">Campionato</a></li>
                <li><a href="{{ url_for('static', filename='calendario/calendario.html') }}">Calendario</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Analisi rigoristi</h1>
        <p>Naviga nella sezione Campionato per scegliere l'avversario a cui sei interessato</p>
        <div>
            <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo Personale" style="width: 25%;" class="personal">
        </div>
    </main>
    <footer>
        <p>&copy;Fabio Rossi e Umberto Di Giacomo</p>
    </footer>
</body>
</html>
