<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Video</title>
    <link rel="stylesheet" href="/static/css/style_playlist.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/logo.webp" alt="Logo">
        </div>
    </header>
    <main>
        <h1>Video del Giocatore {{ nome_completo }}</h1>
        <div class="video-container">
            <video id="videoPlayer" controls>
                <source id="videoSource" src="{{ video_url }}" type="video/mp4">
                Il tuo browser non supporta il video HTML5.
            </video>
        </div>
        <div class="playlist">
            <ul>
                {% for video in videos %}
                <li><a href="{{ url_for('playlist', nome_squadra=nome_squadra, nome_giocatore=nome_giocatore, video_name=video) }}">{{ video }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>
